<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="victor_ros2_control" params="name fake_hardware initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <xacro:if value="${fake_hardware}">
                <hardware>
                  <plugin>mock_components/GenericSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:unless value="${fake_hardware}">
              <hardware>
                  <plugin>victor_hardware/VictorHardwareInterface</plugin>
              </hardware>
            </xacro:unless>
            <joint name="victor_left_arm_joint_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_left_arm_joint_1']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_left_arm_joint_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_left_arm_joint_2']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_left_arm_joint_3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_left_arm_joint_3']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_left_arm_joint_4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_left_arm_joint_4']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_left_arm_joint_5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_left_arm_joint_5']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_left_arm_joint_6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_left_arm_joint_6']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_left_arm_joint_7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_left_arm_joint_7']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_right_arm_joint_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_right_arm_joint_1']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_right_arm_joint_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_right_arm_joint_2']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_right_arm_joint_3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_right_arm_joint_3']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_right_arm_joint_4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_right_arm_joint_4']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_right_arm_joint_5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_right_arm_joint_5']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_right_arm_joint_6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_right_arm_joint_6']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>
            <joint name="victor_right_arm_joint_7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['victor_right_arm_joint_7']}</param>
                </state_interface>
                <state_interface name="effort"/>
                <state_interface name="external_torque"/>
            </joint>

            <joint name="victor_left_finger_a_joint_1">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_left_finger_a_joint_2">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_left_finger_a_joint_3">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_left_palm_finger_b_joint">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_left_finger_b_joint_1">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_left_finger_b_joint_2">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_left_finger_b_joint_3">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_left_palm_finger_c_joint">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_left_finger_c_joint_1">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_left_finger_c_joint_2">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_left_finger_c_joint_3">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_finger_a_joint_1">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_finger_a_joint_2">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_finger_a_joint_3">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_palm_finger_b_joint">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_finger_b_joint_1">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_finger_b_joint_2">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_finger_b_joint_3">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_palm_finger_c_joint">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_finger_c_joint_1">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_finger_c_joint_2">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="victor_right_finger_c_joint_3">
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>


        </ros2_control>
    </xacro:macro>
</robot>
