<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="victor">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import victor urdf file -->
    <xacro:include filename="$(find victor_description)/urdf/victor.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="victor.ros2_control.xacro" />


    <xacro:victor_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
