<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="victor_pedestal">
        <visual>
            <material>
                <diffuse>0.2 0.2 0.2 1.0</diffuse>
                <ambient>0.1 0.1 0.1 1.0</ambient>
            </material>
        </visual>
    </gazebo>
    <gazebo reference="victor_base_plate">
        <visual>
            <material>
                <diffuse>0.7 0.7 0.7 1.0</diffuse>
                <ambient>0.3 0.3 0.3 1.0</ambient>
                <specular>0.9 0.9 0.9 1.0</specular>
            </material>
        </visual>
    </gazebo>
    <gazebo reference="victor_right_arm_link_1">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_right_arm_link_2">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_right_arm_link_3">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_right_arm_link_4">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_right_arm_link_5">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_right_arm_link_6">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_right_arm_link_7">
        <self_collide>0</self_collide>
    </gazebo>
    <gazebo reference="victor_right_gripper_fingerA_dist">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_right_gripper_fingerB_dist">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_right_gripper_fingerC_dist">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_left_arm_link_1">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_left_arm_link_2">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_left_arm_link_3">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_left_arm_link_4">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_left_arm_link_5">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_left_arm_link_6">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_left_arm_link_7">
        <self_collide>0</self_collide>
    </gazebo>
    <gazebo reference="victor_left_gripper_fingerA_dist">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_left_gripper_fingerB_dist">
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="victor_left_gripper_fingerC_dist">
        <self_collide>1</self_collide>
    </gazebo>

    <xacro:macro name="add_simulation_compliance" params="side">
        <xacro:add_simulation_compliance_finger_helper finger="victor_${side}_gripper_fingerA"/>
        <xacro:add_simulation_compliance_finger_helper finger="victor_${side}_gripper_fingerB"/>
        <xacro:add_simulation_compliance_finger_helper finger="victor_${side}_gripper_fingerB"/>
        <xacro:add_simulation_compliance_arm_helper arm="victor_${side}_arm" index="7"/>
    </xacro:macro>

    <gazebo reference='right_tool_joint'>
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    <gazebo reference='left_tool_joint'>
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

</robot>
