<launch>
    <group ns="left_arm">
        <node pkg="wiktor_hardware_interface" type="wiktor_hardware_interface_arm_wrapper_node" name="left_arm_lcm_bridge_node" required="true" output="screen" >
            <param name="send_lcm_url" type="string" value="udp://10.10.10.12:30000" />
            <param name="recv_lcm_url" type="string" value="udp://10.10.10.99:30002" />
        </node>
        <node pkg="tf" type="static_transform_publisher" name="left_arm_kuka_world_frame_broadcaster" required="true" args="-0.02 0.1384885 1.248 -0.78539816339 0 0 wiktor_root wiktor_left_arm_world_frame_kuka 100"/>
        <node pkg="tf" type="static_transform_publisher" name="left_gripper_palm_surface_kuka_broadcaster" required="true" args="0 0 0.092075 -0.78539816339 0 0 wiktor_left_gripper_palm wiktor_left_gripper_palm_surface_kuka 100"/>
    </group>

    <group ns="right_arm">
        <node pkg="wiktor_hardware_interface" type="wiktor_hardware_interface_arm_wrapper_node" name="right_arm_lcm_bridge_node" required="true" output="screen" >
            <param name="send_lcm_url" type="string" value="udp://10.10.10.11:30000" />
            <param name="recv_lcm_url" type="string" value="udp://10.10.10.99:30001" />
        </node>
        <node pkg="tf" type="static_transform_publisher" name="right_arm_kuka_world_frame_broadcaster" required="true" args="-0.02 -0.1384885 1.248 0.78539816339 0 0 wiktor_root wiktor_right_arm_world_frame_kuka 100"/>
        <node pkg="tf" type="static_transform_publisher" name="right_gripper_palm_surface_kuka_broadcaster" required="true" args="0 0 0.092075 -0.78539816339 0 0 wiktor_right_gripper_palm wiktor_right_gripper_palm_surface_kuka 100"/>
    </group>

    <node pkg="wiktor_hardware_interface" type="arm_gui.py" name="arm_gui"/>
</launch>
