<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="iia7_to_robotiq_adapter" params="parent prefix *origin">
        <!--joint between {parent} and link_0-->
        <joint name="${parent}_${prefix}_joint" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${prefix}_gripper_mounting_bracket"/>
        </joint>
        <link name="${prefix}_gripper_mounting_bracket">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://wiktor_description/meshes/robotiq_3finger/kuka_to_palm_connectors_visual.stl"/>
                </geometry>
                <material name="LightGrey"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://wiktor_description/meshes/robotiq_3finger/kuka_to_palm_connectors_collision.stl"/>
                </geometry>
                <material name="LightGrey"/>
            </collision>
        </link>


        <!--<link name="${prefix}_iiwa_bracket">-->
            <!--<visual>-->
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <!--<geometry>-->
                    <!--<mesh filename="package://wiktor_description/meshes/robotiq_3finger/iiwa7_to_neutral_coupling_plate_visual.stl"/>-->
                <!--</geometry>-->
                <!--<material name="LightGrey"/>-->
            <!--</visual>-->
            <!--<collision>-->
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <!--<geometry>-->
                    <!--<mesh filename="package://wiktor_description/meshes/robotiq_3finger/iiwa7_to_neutral_coupling_plate_collision.stl"/>-->
                <!--</geometry>-->
                <!--<material name="LightGrey"/>-->
            <!--</collision>-->
        <!--</link>-->

        <!--<joint name="${prefix}_iiwa_to_robotiq_joint" type="fixed">-->
            <!--<origin xyz="0 0 0.008" rpy="0 0 0"/>-->
            <!--<parent link="${prefix}_iiwa_bracket"/>-->
            <!--<child link="${prefix}_robotiq_bracket"/>-->
        <!--</joint>-->
        <!--<link name="${prefix}_robotiq_bracket">-->
            <!--<visual>-->
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <!--<geometry>-->
                    <!--<mesh filename="package://wiktor_description/meshes/robotiq_3finger/neutral_coupling_plate_to_robotiq_visual.stl"/>-->
                <!--</geometry>-->
                <!--<material name="DarkGrey"/>-->
            <!--</visual>-->
            <!--<collision>-->
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <!--<geometry>-->
                    <!--<mesh filename="package://wiktor_description/meshes/robotiq_3finger/neutral_coupling_plate_to_robotiq_collision.stl"/>-->
                <!--</geometry>-->
                <!--<material name="DarkGrey"/>-->
            <!--</collision>-->
        <!--</link>-->

        <!--<joint name="${prefix}_robotiq_gripper_mounting_bracket_joint" type="fixed">-->
            <!--<origin xyz="0 0 0.1" rpy="0 0 0"/>-->
            <!--<parent link="${prefix}_robotiq_bracket"/>-->
            <!--<child link="${prefix}_gripper_mounting_bracket"/>-->
        <!--</joint>-->
        <!--<link name="${prefix}_gripper_mounting_bracket">-->
            <!--<inertial>-->
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <!--<mass value="1"/>-->
                <!--<inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>-->
            <!--</inertial>-->
            <!--<visual>-->
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <!--<geometry>-->
                    <!--<mesh filename="package://wiktor_description/meshes/robotiq_3finger/gripper_mounting_bracket_visual.stl"/>-->
                <!--</geometry>-->
                <!--<material name="DarkGray"/>-->
            <!--</visual>-->
            <!--<collision>-->
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <!--<geometry>-->
                    <!--<mesh filename="package://wiktor_description/meshes/robotiq_3finger/gripper_mounting_bracket_collision.stl"/>-->
                <!--</geometry>-->
                <!--<material name="DarkGray"/>-->
            <!--</collision>-->
        <!--</link>-->
    </xacro:macro>

</robot>