<launch>
    <arg name="controllers_to_start"
         default="
         right_arm_trajectory_controller
         left_hand_controller
         right_hand_controller
         joint_state_controller
         "/>
    <arg name="controllers_to_load"
         default="
         both_arms_trajectory_controller
         left_arm_trajectory_controller
         "/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find victor_control)/config/victor_control.yaml" command="load"/>

    <!-- load the controllers.
    This is the lowest level at which one can choose whether to control left/right/both arms -->
    <node name="controller_spawner_start"
          pkg="controller_manager"
          type="spawner"
          ns="/victor"
          args="$(arg controllers_to_start)"/>
    <node name="controller_spawner_load"
          pkg="controller_manager"
          type="spawner"
          ns="/victor"
          args="--stopped $(arg controllers_to_load)"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="/joint_states" to="/victor/joint_states"/>
    </node>

</launch>