<launch>
    <arg name="robot_namespace" default="victor"/>

    <arg name="controllers_to_start"
         default="
         both_arms_trajectory_controller
         left_hand_trajectory_controller
         right_hand_trajectory_controller
         joint_state_controller
         "/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find victor_control)/config/victor_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner_start"
          pkg="controller_manager"
          type="spawner"
          ns="/victor"
          args="$(arg controllers_to_start)"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node ns="$(arg robot_namespace)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    </node>

</launch>