<launch>
    <arg name="model"                        default="$(find victor_description)/urdf/victor.urdf.xacro"/>
    <arg name="arm_command_gui"              default="false"/>
    <arg name="left_arm_recv_url_override"   default="false"/>
    <arg name="right_arm_recv_url_override"  default="false"/>
    <arg name="left_arm_recv_url"            if="$(arg left_arm_recv_url_override)"/>
    <arg name="right_arm_recv_url"           if="$(arg right_arm_recv_url_override)"/>

    <param name="robot_description" command="$(find xacro)/xacro --xacro-ns --inorder $(arg model)"/>
    <node pkg="victor_hardware_interface" type="joint_state_publisher.py" name="joint_state_publisher"/>
    <node pkg="robot_state_publisher"     type="robot_state_publisher"    name="robot_state_publisher"/>
    <node pkg="victor_hardware_interface" type="arm_command_gui.py" name="arm_command_gui" if="$(arg arm_command_gui)"/>
    

    <include file="$(find victor_hardware_interface)/launch/mocap_to_victor_static_transforms.launch">
        <arg name="use_sim_time" value="false"/>
    </include>

    <group ns="left_arm">
        <node pkg="victor_hardware_interface" type="victor_hardware_interface_arm_wrapper_node" name="left_arm_lcm_bridge_node" required="true" output="screen">
            <param name="cartesian_pose_frame"  type="string" value="victor_left_arm_world_frame_kuka"/>
            <param name="send_lcm_url"          type="string" value="udp://10.10.10.12:30000" />
            <param name="recv_lcm_url"          type="string" value="udp://10.10.10.10:30002"   unless="$(arg left_arm_recv_url_override)"/>
            <param name="recv_lcm_url"          type="string" value="$(arg left_arm_recv_url)"      if="$(arg left_arm_recv_url_override)"/>
        </node>
    </group>

    <group ns="right_arm">
        <node pkg="victor_hardware_interface" type="victor_hardware_interface_arm_wrapper_node" name="right_arm_lcm_bridge_node" required="true" output="screen">
            <param name="cartesian_pose_frame"  type="string" value="victor_right_arm_world_frame_kuka"/>
            <param name="send_lcm_url"          type="string" value="udp://10.10.10.11:30000"/>
            <param name="recv_lcm_url"          type="string" value="udp://10.10.10.10:30001"   unless="$(arg right_arm_recv_url_override)"/>
            <param name="recv_lcm_url"          type="string" value="$(arg right_arm_recv_url)"     if="$(arg right_arm_recv_url_override)"/>
        </node>
    </group>

    <node pkg="victor_hardware_interface" type="arm_wrench_republisher.py" name="arm_wrench_republisher" output="screen"/>
    <node pkg="victor_hardware_interface" type="grasp_status_node.py"
          name="grasp_status"/>

</launch>

