<launch>
    <arg name="use_sim_time" default="false"/>

    <!-- Note that when specifying orientation with 3 numbers, it's yaw pitch roll -->

    <!-- This transform was calculated by setting the used by the folding table
         as seen from the kinect frame to match the frame reported by mocap -->
    <!-- node pkg="tf" type="static_transform_publisher" name="kinect2_tf_broadcaster" required="true" args="0.027532004296964008, 0.048942209950519344, -0.016327834523498286     -0.5126711573666899 0.49168739305024817   -0.4939462922935266    0.5014268164440625   /mocap_Kinect2BlockRoof_Kinect2BlockRoof   /kinect2_ir_optical_frame  100">
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </node -->
   
    <!-- This is the raw transform calculated from point cloud data the puts the
         Kinect in the correct position relative to the table. We don't use this
         transform because it is specific to the particular configuration when
         we recorded the data. It was used however to calculate the above transform -->
    <!--node pkg="tf" type="static_transform_publisher" name="kinect2_tf_broadcaster" required="true" args="-0.077963592813056  -0.038134521425926   1.624122269618843                0.720915512170930  -0.692935388982982   0.008126034064077  -0.007438990302292             /mocap_FoldingTableSurface_FoldingTableSurface   /kinect2_ir_optical_frame  100">
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </node-->

    <!-- This transform is used to connect the mocap data to the "kinect2_link" frame
         that the kinect2_bridge data uses as its reference. It was calculated using
         the above transforms and the transform between "kinect2_link" and
         "kinect2_ir_optical_frame" as published by kinect2_bridge -->
    <node pkg="tf" type="static_transform_publisher" name="kinect2_tf_broadcaster" required="true" args="0.031008404506653   0.021057223721192  -0.016030148860467   -0.506193991453260   0.500387254594431  -0.495676785109921   0.497679377872098       /mocap_Kinect2BlockRoof_Kinect2BlockRoof   /kinect2_ir_link  100">
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="victor_torso_tf_broadcaster" required="true" args="0 0 -0.863 0 0 0 /mocap_VictorTorso_VictorTorso /victor_root 100">
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </node>
</launch>
