<launch>
    <arg name="use_sim_time" default="false"/>

    <!--These numbers were calculated using the Matlab script in the scripts folder of this package -->
    <group ns="static_transform_publishers">
        <node pkg="tf" type="static_transform_publisher" name="victor_torso_tf_broadcaster" required="true" args="0.019054157686541   0.003714452485092  -0.893404416219662       0.001354134240471  -0.012365797547978   0.015592627363226   0.999801041879520     /mocap_VictorTorso_VictorTorso /victor_root 10">
            <param name="use_sim_time" value="$(arg use_sim_time)"/>
        </node>
    </group>
</launch>
