<launch>
    <arg name="use_sim_time" default="false"/>

    <!-- Note that when specifying orientation with 3 numbers, it's yaw pitch roll -->
    <node pkg="tf" type="static_transform_publisher" name="kinect2_tf_broadcaster_intermediary" required="true" args="-0.00 0.095 -0.065 -0.01 0.05 -0.01 /mocap_Kinect2Block_Kinect2Block /kinect2_intermediary_frame 100">
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="kinect2_tf_broadcaster" required="true" args="0 0 0 -0.5 0.5 -0.5 0.5 /kinect2_intermediary_frame /kinect2_ir_optical_frame 100">
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="victor_torso_tf_broadcaster" required="true" args="0 0 -0.863 0 0 0 /mocap_VictorTorso_VictorTorso /victor_root 100">
        <param name="use_sim_time" value="$(arg use_sim_time)"/>
    </node>
</launch>
